@font-face {
  font-family: 'Sagoe-Regular';
  src: url('../resources/fonts/Segoe-UI.woff');
  src: url('../resources/fonts/Segoe UI.ttf');
}
@font-face {
  font-family: 'Sagoe-Bold';
  src: url('../resources/fonts/Segoe-UI-Bold.woff');
  src: url('../resources/fonts/Segoe UI Bold.ttf');
}
@font-face {
  font-family: 'Sagoe-SemiBold';
  src: url('../resources/fonts/segoe-semibold.woff');
  src: url('../resources/fonts/segoe-semibold.ttf');
}
@font-face {
  font-family: 'Sagoe-Light';
  src: url('../resources/fonts/Sagoe-Light.woff');
  src: url('../resources/fonts/Sagoe-Light.ttf');
}
